<app-progress #progress (stateChange)="onStateChange($event)">
  <app-progress-step>
    <button class="button-primary" (click)="goNext(progress)"> Proxima </button>
  </app-progress-step>
  <app-progress-step>
      <button class="button-secundary" (click)="goReturn(progress)"> Anterior </button>
      <button class="button-primary" (click)="goNext(progress)"> Proxima </button>
  </app-progress-step>
  <app-progress-step>
    <button class="button-secundary" (click)="goReturn(progress)"> Anterior </button>
    <button class="button-primary" (click)="goNext(progress)"> Proxima </button>
  </app-progress-step>
  <app-progress-step>
    <button class="button-secundary" (click)="goReturn(progress)"> Anterior </button>
    <button class="button-primary" (click)="goNext(progress)"> Concluir </button>
  </app-progress-step>
</app-progress>